.side_bar_container{
    display: grid;  
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-row: 1/3;
    background: linear-gradient(90deg, rgb(139, 244, 146) 0%, rgb(238, 184, 237) 100%);
    gap: 1rem;
    border-top-right-radius:20px ;
    border-bottom-right-radius: 30px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    padding: 1rem 1rem  ;
    font-size: small;
    margin-top: 60px;
}
.side_bar_container ul li{
  
    padding-top: 7px;
  
}
.navLink{
    text-decoration: none;
    color: black;
} 
.navLink:hover{
    color:brown;
    text-decoration:underline;
  
}